@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 244 142 18; /* #F48E12 */
  --secondary: 36 93 81; /* #245D51 */
  --primary-dark: 213 105 1; /* #D56901 */
  --light: 245 245 245; /* #F5F5F5 */
  --font-cabin: 'Cabin', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-cabin), sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: rgb(var(--secondary));
  font-family: var(--font-cabin), sans-serif;
}

h1 {
  @apply text-3xl md:text-5xl font-bold text-primary mb-4;
}

h2 {
  @apply mb-8 text-3xl font-bold md:text-4xl text-center md:text-left;
}

h3 {
  @apply font-semibold text-xl mb-2;
}

.container {
  @apply mx-auto max-w-[88rem] px-8 md:px-12 lg:px-24 w-full;
}

@media (max-width: 768px) {
  .logo-header {
    @apply relative left-1/2 -translate-x-1/2 origin-center;
  }
}
